{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 80,
	"trailingComma": "all",
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"arrowParens": "avoid",
	"bracketSameLine": true
}
